:root{
	--black: #000;
	--dark-gray: #363636;
	--gray: #a3a3a3;
	--light-gray: #ebebeb;
	--white: #fff;
	--light-pink: #ffe0ec;
	--dark-blue: #032e73;
		
	font-size: calc(16px + .1vw);
	box-sizing: border-box;
}

*,
*::before,
*::after{
	box-sizing: inherit;
}

body {
	font-family: 'Courier New', Courier, monospace;
	color: var(--dark-gray);
	margin: 0;
	line-height: 1.4;
	background-image: radial-gradient(circle, white, #032e73);
}
body * + *{
	margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  width: 60vw;
  max-width: 1100px;
  min-width: 700px;
  min-height: 1200px;
  margin: 0 auto;
  background-color: white;
}

/*header styles start*/
header {
  display: flex;
  flex-direction: row;
  color: white;
  background-color: var(--dark-blue);
  height: 170px;
}
header > h1 {
  font-size: 2.8rem;
  padding-left: 3rem;
  padding-top: 1.5rem;
  margin: 9px;
  line-height: 1;
  letter-spacing: 2px;
}
.contact {
  align-self: center;  
  padding: 1.5rem;
  margin-left: auto;
  font-size: .8rem;
}
.contact > h3 {
  margin: 0;
}

/*main styles start*/
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1em;
}
main > * {
  background-color: var(--light-pink);
  padding: 15px;
}
main > section {
  padding: 3.4rem;
}
section.education {
  padding-top: 7rem;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
section.soft-skills {
  padding-top: 7rem;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
section.hard-skills {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
section.english {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.code-example ul {
 display: inline;
 list-style: none;
 margin-block-start: 0px;
 padding-inline-start: 0px;
}
.code-example li {
  display: inline;
}
.code-example h3 {
  color: black;
}
.code-example img {
  width: 100px;
  height: 70px;
  object-fit: cover;
  transition: all 0.3s linear;
}
.code-example img:hover {
  transform: scale(1.2);
}
img.main-photo {
  position: absolute;
  top: 7rem;
  left: calc(50% - 100px);
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 0 0 1em white;
  transition: all 0.3s linear;
}
img.main-photo:hover {
transform: scale(1.1);
}

/*footer style start*/
footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
  height: 170px;
  background-color: var(--dark-blue);
}
img.logo {
  height: 90px;
  align-self: center;
}
footer > a {
  text-decoration: none;
  align-self: flex-end;
  color: var(--light-pink);
  font-size: 2rem;
  line-height: 1;
}
.github-container {
  align-self: flex-end;
  font-size: 1.3rem;
  color: white;
 }
.github {
  text-decoration: none;
  color: white;
  padding-left: 40px;
  background-image: url(https://image.flaticon.com/icons/png/512/536/536452.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}

@media(max-width: 700px) {
  img.main-photo {
    display: none;
  }
}
