:root{
	--black: #000;
	--dark-gray: #363636;
	--gray: #a3a3a3;
	--light-gray: #ebebeb;
	--white: #fff;
	--light-pink: #ffe0ec;
	--dark-blue: #032e73;
		
	font-size: calc(16px + .1vw);
	box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after{
	box-sizing: inherit;
}

body {
	font-family: 'Courier New', Courier, monospace;
	color: var(--dark-gray);
	margin: 0;
	line-height: 1.4;
	background-image: radial-gradient(circle, white, #032e73);
}
body * + *{
	margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  max-width: 60vw;
  min-width: 700px;
  margin: 0 auto;
  background-color: white;
}

/*header styles start*/
header {
  display: flex;
  flex-direction: row;
  color: white;
  background-color: var(--dark-blue);
  height: 10em;
}
header > h1 {
  font-size: 2.8rem;
  padding-left: 2rem;
  padding-top: 1.5rem;
  margin: 9px;
  line-height: 1;
  letter-spacing: 3px;
}
.contact {
  align-self: center;  
  padding: 1.5rem;
  margin-left: auto;
  font-size: .8rem;
}
.contact > h3 {
  margin: 0;
}
.nav-container {
  background-color: var(--light-pink);
}
.nav-container ul{
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-inline-start: 0;
}
.nav-list li {
  display: inline;
}
.nav-list li a {
  color: var(--dark-blue);
  text-decoration: none;
  padding: .5rem;
  border-radius: .3em;
  font-weight: 600;
  background-color: var(--light-gray);
  box-shadow: 0 0 3px 1px var(--gray);
  transition: all 0.4s linear;
} 
.nav-list li a:hover {
  background-color: var(--dark-blue);
  color: white;
}

/*main styles start*/
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: .8em;
}
main > * {
  background-color: var(--light-pink);
  padding: 15px;
}
main > section {
  padding: 2rem;
}
section.education {
  padding-top: 8rem;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
section.soft-skills {
  padding-top: 8rem;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
section.hard-skills {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
section.english {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.code-example ul {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 list-style: none;
 margin-block-start: 0px;
 padding-inline-start: 0px;
}
.code-example li {
  display: inline;
}
.code-example h3 {
  color: black;
}
.code-example img {
  width: 140px;
  height: 70px;
  border: 2px solid var(--white);
  box-shadow: 0 0 5px 1px var(--dark-gray);
  object-fit: cover;
  transition: all 0.3s linear;
}
.code-example img:hover {
  transform: scale(1.2);
}
img.main-photo {
  position: absolute;
  top: 10.5rem;
  left: calc(50% - 100px);
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 0 0 1em white;
  transition: all 0.3s linear;
}
img.main-photo:hover {
transform: scale(1.1) translateY(-20px);
}
.js {
  font-size: .5em;
  width: 100%;
  filter: invert(90%) hue-rotate(30deg);
  padding: 0;
  margin: 0;
  transition: all 0.3s linear;
}
.js:hover {
  transform: scale(1.1);
}


/*footer style start*/
footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
  height: 10em;
  background-color: var(--dark-blue);
}
img.logo {
  height: 90px;
  align-self: center;
}
footer > a {
  text-decoration: none;
  align-self: flex-end;
  color: var(--light-pink);
  font-size: 2rem;
  line-height: 1;
}
.github-container {
  align-self: flex-end;
  font-size: 1.3rem;
  color: white;
 }
.github {
  text-decoration: none;
  color: white;
  padding-left: 2rem;
  background-image: url(https://image.flaticon.com/icons/png/512/536/536452.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}

/* media request */
@media(max-width: 700px) {
  img.main-photo {
    display: none;
  }
  main > section {
    padding: 2rem;
    font-size: 1rem;
  }
  .contact {
    padding: 1rem;
    margin-left: auto;
    font-size: 1rem;
  }
}
