:root{
	--black: #000;
	--dark-gray: #363636;
	--gray: #a3a3a3;
	--light-gray: #ebebeb;
	--white: #fff;
	--light-pink: #ffe0ec;
	--dark-blue: #032e73;
		
	font-size: calc(1em + .1vw);
	box-sizing: border-box;
}

*,
*::before,
*::after{
	box-sizing: inherit;
}

body {
	font-family: 'Courier New', Courier, monospace;
	color: var(--dark-gray);
	margin: 0;
	line-height: 1.4;
	background-image: radial-gradient(circle, white, #032e73);
}
body * + *{
	margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  width: 60vw;
  min-width: 700px;
  min-height: 1200px;
  margin: 2rem auto;
  background-color: white;
}

/*header styles start*/
header {
  display: flex;
  flex-direction: row;
  color: white;
  background-color: var(--dark-blue);
  height: 170px;
}
header > h1 {
  font-size: 2.8em;
  padding-left: 1.1em;
  padding-top: 30px;
  margin: 9px;
  line-height: 1;
  letter-spacing: 2px;
}
.contact {
  align-self: center;  
  padding: 20px;
  margin-left: auto;
  font-size: .8rem;
}
.contact > h3 {
  margin: 0;
}

/*main styles start*/
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1em;
}
main > * {
  background-color: var(--light-pink);
  padding: 15px;
}
main > section {
  padding: 3.4em;
}
section.education {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
section.soft-skills {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
section.hard-skills {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
section.english {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
img.main-photo {
  position: absolute;
  top: 70px;
  left: 43.5%;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 0 0 1em white;
}

/*footer style start*/
footer {
  display: flex;
  height: 170px;
  background-color: var(--dark-blue);
}
img.logo {
  height: 100px;
  align-self: center;
}
footer > a {
  align-self: flex-end;
  margin-left: auto;
  padding-bottom: 20px;
  color: var(--light-pink);
  font-size: 2em;
}